<h1>App Component =></h1>
<i>Interpolation</i>
<h1>Name : {{student?.name}}</h1>
<h1>Age: {{student?.age}}</h1>
<hr>

<i>disable property binding</i>
<input [disabled]="hasError" type="text" [value]="inputValue">
<hr>

<i>two way binding and keypress event binding</i>
<input (keypress)="onKeyPressed($event)" type="text" [(ngModel)]="newValue">
<hr>

<i>event handle with $event variable</i>
<button (click)="onClickHandle($event)">click Me</button>
<hr>


<i>style binding</i>
<h3 [style.color]="redColor">Hello world!</h3>
<h3 [style.color]="hasError ? 'red' : 'green'">Hello world!</h3>
<h3 [ngStyle]="classStyle">Hello world!</h3>
<hr>

<i>class binding</i>
<h4 [class.text-danger]="hasError">test</h4>

<h4 [ngClass]="classObj">test</h4>

<app-test></app-test>


<router-outlet></router-outlet>
